@import '../../../../../variables';

.commentsBtn {
  display: flex;
  align-items: normal;
}

.commentsBtn * {
  color: $greyC4;
}

.commentsNumber {
  padding: 0 0 0 6px;
  font-size: 12px;
  line-height: 14px;
}

@media all and (min-width: $tabletWidth) {
  .commentsBtn {
    display: none;
  }
}
