@import '../../variables';

@media all and (min-width: $tabletWidth) {
  .cardsList {
    padding: 40px 0;
  }

  .cardsList>li {
    margin-bottom: 40px;
  }
}

@media all and (min-width: $desctopWidth) {
  .cardsList>li {
    margin-bottom: 0;
  }
}
