@import '../../../variables';
@import '../../../mixins';

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.karmaCounter {
  margin-right: 20px;

  &>div {
    display: flex;
    flex-direction: column;

    &>span {
      padding: 7px 0;
    }
  }
}

.textcontent {
  max-width: 80%;
}

.title {
  // max-width: 80%;

  h2 {
    font-weight: 400;
    margin-bottom: 10px;
  }
}

.content {
  position: relative;
  overflow-y: auto;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid $greyD9;
}

.preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.previewLoader {
  width: 100%;
  filter: blur(20px);
}


.closeBtn {
  position: absolute;
  top: 30px;
  right: 20px;
}

.sortComments {
  margin-bottom: 50px;
  border-bottom: 1px solid $greyD9;
}
