@import '../../variables';

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.karmaCounter {
  margin-right: 20px;
}

.title {
  max-width: 80%;

  h2 {
    font-weight: 400;
    margin-bottom: 10px;
  }
}

.content {
  overflow-y: auto;
  padding-bottom: 30px;
  margin-bottom: 15px;
  border-bottom: 1px solid $greyD9;
}

.preview {
  width: 100%;
}

.closeBtn {
  position: absolute;
  top: 30px;
  right: 20px;
}

.sortComments {
  margin-bottom: 50px;
  border-bottom: 1px solid $greyD9;
}
