@import '../../../../variables';

.textContent {
  display: flex;
  flex-flow: column wrap;
}

.textContent>*+* {
  padding: 7px 0 0;
}

@media all and (min-width: $tabletWidth) {
  .textContent {
    flex-basis: 350px;
    order: 1;
    margin: 0 0 0 38px;
    flex-flow: column-reverse nowrap;
    justify-content: center;
  }

  .textContent>* {
    flex: 0 0;
  }
}

@media all and (min-width: 1024px) {
  .textContent {
    flex-basis: 540px;
  }
}

@media all and (min-width: $desctopWidth) {
  .textContent {
    flex-basis: 672px;
  }
}
