@import '../../../variables';

.card {
  position: relative;
  margin-top: -1px;
  padding: 20px 20px 10px;
  display: flex;
  flex-flow: row wrap;

  background-color: $white;
  border-radius: 7px;
  outline: 1px solid transparent;
  outline-offset: -2px;
  transition: outline .2s ease;
}

.card>*,
.textContent>* {
  flex: 1 1 100%;
}

.card>*+* {
  padding: 13px 0 0;
}

.card h2 a {
  transition: color .2s ease;
}

.card:focus-within h2 a {
  color: $orange;
}

@media all and (min-width: $tabletWidth) {
  .card {
    background-color: transparent;
    flex-flow: row nowrap;
    max-height: 107px;
    padding: 0 40px;
  }

  .card>* {
    flex: 0 0;
  }

  .card>*+* {
    padding: 0;
  }
}

@media all and (min-width: $desktopWidth) {
  .card {
    padding: 20px 60px;
    max-height: 147px;
    cursor: pointer;
    border-radius: 0;

    &:hover,
    &:focus-within {
      outline: 1px solid $greyD9;
    }

  }

  .card:hover h2 a {
    color: $orange;
  }
}
