.container {
  width: 100%;
  flex: 1 1 0%;
}

.listContainer {
  position: relative;
}

.list {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.display-enter{
  opacity: 0;
  transform: translateY(30px);
  /* transition: opacity .2s ease, transform .2s ease; */
}

.display-enter-active {
  opacity: 1;
  transform: none;
  transition: opacity .2s ease, transform .2s ease;
}

.display-enter-done {
  opacity: .5;
}
