@import '../../../../../variables';

.actions {
  display: flex;
  flex-flow: row nowrap;
}

.actions>*+* {
  margin: 0 0 0 13px;
}

@media all and (min-width: $tabletWidth) {
  .actions {
    display: none;
  }
}
