@import '../../../../../variables';

.metaData {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 10px;
  line-height: 12px;
}

.publishedLabel {
  display: none;
}

.createdAt {
  width: min-content;

  span {
    color: $grey99;
  }

  span:nth-child(2) {
    white-space: nowrap;
  }

}


.userLink {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 20px;
  padding: 0 6px 0 0;

  a {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: $orange;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform .2s ease;
    }
  }
}


.avatar {
  border-radius: 20px;
  width: 20px;
  height: 20px;
  margin: 0 7px 0 0;
  object-fit: cover;
}

.username {
  color: $orange;
  position: relative;
  z-index: 1;
}

@media all and (min-width: $tabletWidth) {
  .metaData {
    flex-flow: row-reverse nowrap;
    justify-content: flex-end;
    font-size: 14px;
    line-height: 16px;
  }

  .publishedLabel {
    display: inline;
  }

  .userLink {
    padding: 0 0 0 5px;
  }
}

@media all and (min-width: $desktopWidth) {
  .userLink:hover a::before {
    transform: none;
  }
}
