@import '../../../../variables';

.controls {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

@media all and (min-width: $tabletWidth) {
  .controls {
    order: 3;
    flex: 0 0;
    margin: 0 0 0 24px;
    justify-content: center;
    min-width: 48px;
  }
}
