@import './variables';

@mixin loader {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  background-color: $white;

  * {
    border-radius: 3px;
  }

  &:before {
    position: absolute;
    z-index: 100;
    inset: 0;
    content: "";
    background: linear-gradient(to right, transparent 0%, transparent 40%, $white, transparent 60%, transparent 100%,);
    animation: slide 2s infinite;
  }
}

@keyframes slide {
  from {
    transform: translateX(-50%);
  }

  50% {
    transform: translateX(50%);
  }

  to {
    transform: translateX(-50%);
  }
  }
