@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  width: 100vw;
  padding: 0;
  padding-right: 20px;
  margin: 0;
  background-color: $greyF4;
  font-size: 14px;
  line-height: 16px;
  font-family: 'Roboto', serif;
}

* {
  color: $black;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  font-size: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
